{{#if buttonIcon}}
    <img class="button-icon" src={{prepend-root buttonIcon}} alt="ButtonIcon" />
{{/if}}
{{#if hasBlock}}
    {{#if isSVG}}
        <div class="button-svg">
            {{yield}}
        </div>
    {{else}}
        {{yield}}
    {{/if}}
{{/if}}
{{#if buttonName}}
    <span class="button-name">{{buttonName}}</span>
{{/if}}
