{{#if iconUrl}}
    <div class="icon-label-item-icon {{if iconBackground 'bg' ''}} {{itemIconClass}}">
        <img src={{prepend-root iconUrl}} alt="icon">
    </div>
{{/if}}
<div class="icon-label-item-box {{iconLabelItemBoxClass}}">
    {{#if itemLabel}}
        <span class={{itemLabelClass}}>{{itemLabel}}</span>
    {{/if}}
    {{#if itemValue}}
        <span class={{itemValueClass}}>{{itemValue}}</span>
    {{/if}}
    {{yield}}
</div>

