{{#link-to 'index' class='navbar-link'}}
    <div class="navbar-logo"></div>
{{/link-to}}
<nav class="navbar-menu">
    {{#if isLoggedIn}}
        {{#link-to 'dashboard' class='navbar-link'}}
            {{general-button class='nav-button bg-transparent no-border ft-grey' buttonName='Dashboard'}}
        {{/link-to}}
        {{#unless (eq userInfo.role 2)}}
            {{#link-to 'tournaments' class='navbar-link'}}
                 {{general-button class='nav-button bg-transparent no-border ft-grey' buttonName='Tournaments'}}
            {{/link-to}}
        {{/unless}}
        {{#if (eq userInfo.role 0)}}

        {{/if}}
        {{#if (eq userInfo.role 1)}} 
            {{#link-to 'organizations.organization' userInfo.organizationId class='navbar-link'}}
                {{general-button class='nav-button bg-transparent no-border ft-grey' buttonName='Organization'}}
            {{/link-to}}
        {{/if}}
        {{#if (eq userInfo.role 2)}}
            {{#link-to 'organizations' class='navbar-link'}}
                {{general-button class='nav-button bg-transparent no-border ft-grey' buttonName='Organizations'}}
            {{/link-to}}
        {{/if}}
        {{general-button class='bg-white br-grey ft-grey curved' buttonName=(truncate-name userInfo.userName) }}
        {{general-button class='bg-red br-red ft-white' buttonName='Logout' onClick=(action 'logout')}}
    {{else}}
        {{#link-to 'register' class='navbar-link'}}
            {{general-button class='bg-blue br-blue ft-white' buttonName='Register'}}
        {{/link-to}}
        {{#link-to 'login' class='navbar-link'}}
            {{general-button class='no-border bg-transparent ft-blue' buttonName='Login'}}
        {{/link-to}}
    {{/if}}
</nav>

{{yield}}
