<div class="input-box {{unless errorMessage 'br-light-grey' 'br-red'}}">
    {{#if labelName}}
        <label class="input-label select-label" for={{inputId}}>
            {{labelName}} 
            {{#if isRequired}} 
                <span class="input-required ft-red">*</span>
            {{/if}}
        </label>
    {{/if}}
    <select id={{inputId}} name={{inputName}} value={{selectedValue}} class="input-field" >
        {{#each options as |option|}}
            {{select-option option=option}}
        {{/each}}
        {{yield}}
    </select>
</div>
{{#if errorMessage}}
    <p class="input-error">{{errorMessage}}</p>
{{/if}}