<div class="input-box {{unless errorMessage 'br-light-grey' 'br-red'}}">
    {{#if labelName}}
        <label class="input-label select-label" for={{inputId}}>
            {{labelName}} 
            {{#if isRequired}} 
                <span class="input-required ft-red">*</span>
            {{/if}}
        </label>
    {{/if}}
    <select id={{inputId}} name={{inputName}} value={{defaultValue}} class="input-field" placeholder={{inputPlaceholder}} {{action 'handleInputChange' on='change'}} >
        {{#if showDefaultValue}}
            <option value={{defaultValue.value}} selected={{defaultValue.selected}} disabled={{defaultValue.disabled}} hidden={{defaultValue.hidden}}>{{defaultValue.displayName}}</option>
        {{/if}}
        {{#each options as |option|}}
            <option value={{option.value}}>{{option.displayName}}</option>
        {{/each}}
        {{yield}}
    </select>
</div>
{{#if errorMessage}}
    <p class="input-error">{{errorMessage}}</p>
{{/if}}

