<div class="tournament-card-image-box">
    <img class="tournament-card-image" src={{prepend-root tournament.tournamentPoster}} alt="Tournament Poster">
    <div class="tournament-card-status">{{tournament-status tournament.tournamentStatus}}</div>
</div>
<div class="tournament-card-details">
    <h2 class="tournament-card-title">{{tournament.tournamentName}}</h2>
    <div class="tournament-card-box">
        {{card-item itemIconClass='cube-icon' itemName=tournament.sportName}}
        {{card-item class='align-end' itemIconClass='people-icon' itemName=(sport-type tournament.sportType)}}
    </div>
    <div class="tournament-card-box">
        <div class="tournament-card-innerbox">
            {{card-item itemIconClass='calander-icon' itemName=(get-date tournament.tournamentDate)}}
            {{card-item itemIconClass='clock-icon' itemName=(calculate-deadline tournament.registrationStartDate tournament.registrationEndDate)}}
        </div>
        {{#link-to 'tournaments.tournament' tournament.tournamentId class='no-decoration'}}
            {{general-button class='br-blue bg-white ft-blue curved' buttonName='Details'}}
        {{/link-to}}
    </div>
</div>
{{yield}}