<div class="user-card-image-box">
    <div class="user-card-profile-img"></div>
</div>
<div class="user-card-detail-box">
    <p class="user-card-item"><span class="ft-grey">{{user.userId}}</span> - <strong class="capitalize ft-lg wt-500">{{user.userName}}</strong></p>
    <p class="user-card-item ft-sm ft-grey">{{user.email}}</p>
    <span class="user-card-item ft-sm wt-300">{{user-role user.role}}</span>
</div>
{{yield}}
