<section class="container section form-bg">
    {{#form-model class="tournament-form" formHeader='Create Tournament' onSubmit=(action 'handleSubmit') }}
        <div class="tournament-form-wrapper">
            <div>
                <div>
                    {{text-input inputName='tournamentName' inputId='create-tournamentname' inputPlaceholder='Tournament Name *' errorMessage=validationErrors.tournamentName}}
                    {{text-input inputName='maxParticipation' inputId='create-maxparticipation' inputPlaceholder='Participation Limit *' errorMessage=validationErrors.maxParticipation}}
                    {{text-input inputName='tournamentDate' inputId='create-tournamentdate' inputPlaceholder='Start Date' errorMessage=validationErrors.tournamentDate}}
                    {{text-input inputName='tournamentVenue' inputId='create-tournamentvenue' inputPlaceholder='Venue' errorMessage=validationErrors.tournamentVenue}}
                    {{text-input inputName='registrationStartDate' inputId='create-registrationstartdate' inputPlaceholder='Registration Opening (dd/mm/yyyy HH:MM)' errorMessage=validationErrors.registrationStartDate}}
                    {{text-input inputName='registrationEndDate' inputId='create-registrationenddate' inputPlaceholder='Registration Closing (dd/mm/yyyy HH:MM)' errorMessage=validationErrors.registrationEndDate}}
                </div>
                <div>
                    {{text-input inputName='sportName' inputId='create-sportname' inputPlaceholder='Sport Name' errorMessage=validationErrors.sportName}}
                    {{text-input inputName='sportType' inputId='create-sporttype' inputPlaceholder='Sport Type' errorMessage=validationErrors.sportType}}
                    {{text-input inputName='teamSize' inputId='create-teamsize' inputPlaceholder='Team Size' errorMessage=validationErrors.teamSize}}
                </div>
            </div>
            {{general-button type='submit' buttonName='Create'}}
        </div>

    {{/form-model}}
</section>
{{outlet}}



{{!-- <section class="container section auth">
    {{#form-model class="register-form" formHeader='Register' onSubmit=(action 'handleSubmit') }}
        <div class="auth-wrapper">
            <div class="auth-box">
                <div class="auth-innerbox">
                    {{text-input inputName='userName' inputId='register-username' inputPlaceholder='Full Name' errorMessage=validationErrors.userName }}
                    {{text-input inputName='dateOfBirth' inputId='register-dateofbirth' inputPlaceholder='Date Of Birth (dd/mm/yyyy)' errorMessage=validationErrors.dateOfBirth }}
                    {{text-input inputName='phoneNumber' inputId='register-phonenumber' inputPlaceholder='Phone Number' errorMessage=validationErrors.phoneNumber }}
                    {{text-input inputName='email' inputId='register-email' inputPlaceholder='Email' errorMessage=validationErrors.email }}
                    {{text-input inputName='password' inputId='register-password' inputPlaceholder='Password' errorMessage=validationErrors.password}}
                </div>
            </div>
            <div class="auth-box">
                <div class="auth-innerbox">
                    {{text-input inputName='organizationName' inputId='register-organizationname' inputPlaceholder='Organization Name' errorMessage=validationErrors.organizationName }}
                    {{text-input inputName='organizationAddress' inputId='register-organizationaddress' inputPlaceholder='Organization Address' errorMessage=validationErrors.organizationAddress }}
                    {{text-input inputName='startedYear' inputId='register-startedyear' inputPlaceholder='Started Year' errorMessage=validationErrors.startedYear }}
                </div>
                <div class="space"></div>
                <div class="auth-innerbox">
                    <p class="auth-switch">
                        Already have an account? {{#link-to 'login' }}Login{{/link-to}}
                    </p> 
                    {{general-button type='submit' buttonName='Register' class='bg-blue ft-white full-width no-border'}}
                </div>
            </div>
        </div>
    {{/form-model}}
</section>
{{outlet}} --}}