<section class="container section form-bg">
    {{#form-model class="tournament-form-model" formHeader='Create Tournament' onSubmit=(action 'createNewTournament') }}
        <div class="tournament-form-wrapper">
            <div class="tournament-form-box">
                <div class="tournament-form-inner-box">
                    {{text-input inputName='tournamentName' inputId='create-tournamentname' labelName='Tournament Name' isRequired=true errorMessage=validationErrors.tournamentName}}
                    {{text-input inputName='maxParticipation' inputId='create-maxparticipation' labelName='Participation Limit' isRequired=true errorMessage=validationErrors.maxParticipation}}
                    {{text-input inputName='tournamentDate' inputId='create-tournamentdate' labelName='Start Date' errorMessage=validationErrors.tournamentDate}}
                    {{text-input inputName='tournamentVenue' inputId='create-tournamentvenue' labelName='Venue' errorMessage=validationErrors.tournamentVenue}}
                    {{text-input inputName='registrationStartDate' inputId='create-registrationstartdate' labelName='Registration Opening (dd/mm/yyyy)' isRequired=true errorMessage=validationErrors.registrationStartDate}}
                    {{text-input inputName='registrationEndDate' inputId='create-registrationenddate' labelName='Registration Closing (dd/mm/yyyy)' isRequired=true errorMessage=validationErrors.registrationEndDate}}
                </div>
                <div class="tournament-form-inner-box">
                    {{text-input inputName='sportName' inputId='create-sportname' labelName='Sport Name' isRequired=true errorMessage=validationErrors.sportName}}
                    {{text-input inputName='sportType' inputId='create-sporttype' labelName='Sport Type' isRequired=true errorMessage=validationErrors.sportType}}
                    {{text-input inputName='teamSize' inputId='create-teamsize' labelName='Team Size' isRequired=true errorMessage=validationErrors.teamSize}}
                </div>
            </div>

            {{general-button class='br-blue bg-blue ft-white soft-corner' type='submit' buttonName='Create'}}
        </div>
    {{/form-model}}
</section>
{{outlet}}

