<section class="section container form-bg edit-tournament">
    {{#form-model class="tournament-form-model" formHeader='Edit Tournament' onSubmit=(action 'editTournament') }}
        <div class="tournament-form-wrapper">
            <div class="tournament-form-box">
                <div class="tournament-form-inner-box">
                    {{text-input inputName='tournamentName' inputId='create-tournamentname' labelName='Tournament Name' isRequired=true defaultValue=tournament.tournamentName errorMessage=validationErrors.tournamentName}}
                    {{text-input inputName='maxParticipation' inputId='create-maxparticipation' labelName='Participation Limit' isRequired=true defaultValue=(if tournament.maxParticipation tournament.maxParticipation '') errorMessage=validationErrors.maxParticipation}}
                    {{text-input inputName='tournamentDate' inputId='create-tournamentdate' labelName='Start Date' defaultValue=(millis-to-date tournament.tournamentDate '') errorMessage=validationErrors.tournamentDate}}
                    {{text-input inputName='tournamentVenue' inputId='create-tournamentvenue' labelName='Venue' defaultValue=tournament.tournamentVenue errorMessage=validationErrors.tournamentVenue}}
                    {{text-input inputName='registrationStartDate' inputId='create-registrationstartdate' labelName='Registration Opening (dd/mm/yyyy HH:MM)' isRequired=true defaultValue=(millis-to-date tournament.registrationStartDate) errorMessage=validationErrors.registrationStartDate}}
                    {{text-input inputName='registrationEndDate' inputId='create-registrationenddate' labelName='Registration Closing (dd/mm/yyyy HH:MM)' isRequired=true defaultValue=(millis-to-date tournament.registrationEndDate) errorMessage=validationErrors.registrationEndDate}}
                </div>
                <div class="tournament-form-inner-box">
                    {{text-input inputName='sportName' inputId='create-sportname' labelName='Sport Name' isRequired=true defaultValue=tournament.sportName errorMessage=validationErrors.sportName}}
                    {{text-input inputName='sportType' inputId='create-sporttype' labelName='Sport Type' isRequired=true defaultValue=tournament.sportType errorMessage=validationErrors.sportType}}
                    {{text-input inputName='teamSize' inputId='create-teamsize' labelName='Team Size' isRequired=true defaultValue=tournament.teamSize errorMessage=validationErrors.teamSize}}
                </div>
            </div>
            {{general-button class='br-blue bg-blue ft-white soft-corner' type='submit' buttonName='Save'}}
        </div>
    {{/form-model}}
</section>

{{outlet}}
