<section class="container section form-bg">
    {{#form-model class="register-form" formHeader='Register' onSubmit=(action 'handleSubmit') }}
        <div class="auth-wrapper">
            <div class="auth-box">
                <div class="auth-innerbox">
                    {{text-input inputName='userName' inputId='register-username' labelName='Full Name' isRequired=true errorMessage=validationErrors.userName }}
                    {{text-input inputName='dateOfBirth' inputId='register-dateofbirth' labelName='Date Of Birth (dd/mm/yyyy)' isRequired=true errorMessage=validationErrors.dateOfBirth }}
                    {{text-input inputName='phoneNumber' inputId='register-phonenumber' labelName='Phone Number' isRequired=true errorMessage=validationErrors.phoneNumber }}
                    {{text-input inputName='email' inputId='register-email' labelName='Email' isRequired=true errorMessage=validationErrors.email }}
                    {{password-input inputName='password' inputId='register-password' labelName='Password' isRequired=true errorMessage=validationErrors.password}}
                    {{password-input inputName='confirmPassword' inputId='register-confirmpassword' labelName='Confirm Password' isRequired=true errorMessage=validationErrors.confirmPassword}}
                </div>
            </div>
            <div class="auth-box">
                <div class="auth-innerbox">
                    {{text-input inputName='organizationName' inputId='register-organizationname' labelName='Organization Name' isRequired=true errorMessage=validationErrors.organizationName }}
                    {{text-input inputName='organizationAddress' inputId='register-organizationaddress' labelName='Organization Address' isRequired=true errorMessage=validationErrors.organizationAddress }}
                    {{text-input inputName='startedYear' inputId='register-startedyear' labelName='Started Year' isRequired=true errorMessage=validationErrors.startedYear }}
                </div>
                <div class="space-filler"></div>
                <div class="auth-innerbox">
                    <p class="auth-switch">
                        Already have an account? {{#link-to 'login' }}Login{{/link-to}}
                    </p> 
                    {{general-button type='submit' buttonName='Register' class='bg-blue ft-white full-width no-border'}}
                </div>
            </div>
        </div>
    {{/form-model}}
</section>
{{outlet}}